.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative; 
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid #CCC;
  top: 15px;
  width: 600px;
}
.fancy span:before {

  right: 100%;
  margin-right: 15px;

}

.fancy span:after {

  left: 100%;
  margin-left: 15px;

}





h1 {

  color: #555; 
  text-align: left; 
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 100;
  padding-left: 20px;
}

#cBannerImg {

width: 100%;
height: 200px; 
margin-bottom: -5px;

}

.container {
  
  width: 1000px;
  margin: auto;
  background-color: #FFF;
  overflow: hidden;
}

#cCont {

  background-color: #EEE;
  width: 100%;
  height: 100%;
}

.question {

  
  width: 500px;
  margin: auto;
  background-color: #EEE;

}

/* QUESTION */
.question p {

  padding-top: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 25px;
  font-weight: 100;
  background-color: #eee;
  line-height: 30px;
  margin-top: 0px;
  color: #333;


}


/* ANSWER */

.question pre {

  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  white-space: pre-wrap; 
  color: #333;
}


body {

  background-color: #CCC;

}

#cPadding {
  height: 50px;
}



/*.question p span { */






